﻿.menusolyazı{
    color:white;
    text-align:center;
    font-size: small;
    text-shadow: 2px 2px 4px #000000;
    
}

.menusagyazı{
    color:white;
    text-align:center;
    font-size:12px;
    text-shadow: 2px 2px 4px #000000;
}
.menusolyazı:hover, .menusagyazı:hover {
        color: black;
        text-decoration: none;
        text-shadow: 0px 0px 0px #000000;
}



